strong-pm:
  lookup:
    master: strong_pm
    base: /home/strong-pm
    driver: direct
    set_env: None
    force: False
    http_auth: None
    metrics: None
    dry_run: False
    port: 8701
    base_port: 3000
    init_manager_option: systemd
    upstart_version: ""
    user: strong-pm
