strong_pm:
  lookup:
    master: strong_pm
    base: /home/strong-pm
    driver: direct
    set_env: null
    force: false
    http_auth: null
    metrics: null
    dry_run: false
    port: 8701
    base_port: 3000
    init_manager: upstart
    upstart_version: 0.6
    user: strong-pm
    job_file: /etc/init/strong-pm.conf
